<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Withdraw Money</title>
</head>

<body>
    <h1>Withdraw Money</h1>
    <div>
        <p><strong>Username:</strong> <%= account.username %></p>
        <p><strong>ID:</strong> <%= account.id %></p>
        <p><strong>Balance:</strong> <%= account.balance %></p>
    </div>
    <!-- Withdraw Form -->
    <form action="/account/withdraw" method="POST">
        <input type="hidden" name="accountId" value="<%= account.username %>">
        <label for="amount">Amount to Withdraw:</label>
        <input type="number" id="amount" name="amount" required>
        <button type="submit">Withdraw</button>
    </form>
    <a href="/profile?token=<%= token %>"><button>Back</button></a>

</body>

</html>
